<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/styleIndex.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Fragmentos do Buscar Produtos</title>
</head>
<body>
    <div class="scrollable-div" th:fragment="conteudo">
        <form id="formEnviar" method="post" th:action="@{/usuario/salvarProdutosFichaAlimentar}">
        <input type="hidden" name="refeicao" th:value="${refeicao}" />
        <input type="hidden" name="produtosSelecionados" id="produtosSelecionados">
            <table class="tabela-produtos table table-hover align-middle">
                <thead class="cabecalho-fixo">
                <tr>
                    <th>Produto</th>
                    <th>Categoria</th>
                    <th>Kcal</th>
                    <th>Carboidratos</th>
                    <th>Proteinas</th>
                    <th>Gordura</th>
                    <th>Peso</th>
                    <th>Descrição</th>
                    <th class="text-center">Adicionar</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="p : ${ListaGeral}">
                    <td th:text="${p.titulo}"></td>
                    <td th:text="${p.tipo}"></td>
                    <td th:text="${p.kcal}"></td>
                    <td th:text="${p.carboidratos}"></td>
                    <td th:text="${p.proteinas}"></td>
                    <td th:text="${p.gorduraGerais}"></td>
                    <td th:text="${p.peso}"></td>
                    <td th:text="${p.descricao}"></td>
                    <td class="text-center">
                        <input type="checkbox" th:value="${p.id}" class="form-check-input produto-checkbox-modal">
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- FOOTER FIXO -->
            <div class="modal-footer footer-fixo">
                <button type="submit"  name="addProduto" id="addProduto" class="btn btn-primary">Adicionar Produtos</button>
            </div>
        </form>
    </div>
</body>
</html>
