<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:href="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Cadastro Usuario</title>
</head>
<body>
<center><br><br><br>
  <!-- Exibição de erro de caracteres e campos -->
  <div th:if="${erros}" style="margin-top:15px;">
    <ul>
      <li th:each="erro : ${erros}" th:text="${erro.defaultMessage}" class="error"></li>
    </ul>
  </div>
  <p th:if="${param.emailExists}" style="color:red;">
    Email ja cadastrado!, deseja fazer <a href="../login">login</a> ?
  </p>
  <h1>Cadastro do Usuario</h1>
  <form th:action="@{/usuario/salvar}" th:object="${usuario}" method="post">
    <input type="hidden" name="origem" value="cadastro">
    Nome: <input required type="text" name="titulo" th:field="*{nome}">
    | Sobrenome: <input type="text" required th:field="*{sobrenome}" name="sobrenome" id="sobrenome"><br><br>
    Senha: <input required type="password" th:field="*{password}" name="password" id="password"><br><br>
    Email: <input required type="email" th:field="*{email}" name="email" id="email"><br><br>
    Data de nascimento: <input required type="date" th:field="*{dataNascimento}" name="dataNascimento" id="dataNascimento"><br><br>
    <button type="submit">Cadastrar</button><Br><br>
    Já possui uma conta? <a href="../login">Login</a>
  </form>
</center>
</body>
</html>