<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Cadastro Usuario</title>
</head>
<body>
<a href="../">Voltar</a>
<center><br><br><br>
  <h1>Cadastro do Usuario</h1>
  <form th:action="@{/usuario/salvar}" th:object="${usuario}" method="post">
    Nome: <input required type="text" name="titulo" th:field="*{nome}">
    | Sobrenome: <input type="text" required th:field="*{sobrenome}" name="sobrenome" id="sobrenome"><br><br>
    Senha: <input required type="password" th:field="*{password}" name="password" id="password"><br><br>
    Email: <input required type="email" th:field="*{email}" name="email" id="email"><br><br>
    Data de nascimento: <input required type="date" th:field="*{dataNascimento}" name="dataNascimento" id="dataNascimento"><br><br>
    Altura: <input required type="number" th:field="*{altura}" name="altura" id="altura"><br><br>
    Peso: <input required type="number" th:field="*{peso}" name="peso" id="peso"><br><br>
    <button type="submit">Cadastrar</button>
  </form>
</center>
</body>
</html>