<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
<center><br><br><br>
  <h1>Buscar Produto Alimenticio</h1>
  <form th:action="@{/produto-alimenticio/BuscarProdutoApi}" th:String="${produtoAlimenticio}" method="get">
    Digite o produto alimenticio para busca: <input type="text" name="produtoAlimenticio" th:String="*{produtoAlimenticio}"><Br><br>
    <button type="submit">Pesquisar</button>
  </form>
</center>
</body>
</html>