<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login Usuario</title>
</head>
<body>
    <center>
    <!-- Logout realizado -->
    <p th:if="${param.logout}" style="color:green;">
        Logout realizado com sucesso.
    </p>
    <!-- Sessão expirada / timeout -->
    <p th:if="${param.expired}" style="color:orange;">
        Sua sessão expirou. Faça login novamente.
    </p>
    <p th:if="${param.timeout}" style="color:orange;">
        Sua sessão expirou. Faça login novamente.
    </p>
    <p th:if="${param.error}" style="color:red;">
        Email ou senha incorreta!
    </p>
    <p th:if="${param.cadastrado}" style="color:green;">
       Usuario Cadastrado com sucesso!
    </p>
    <div><br>
        <h1>Login</h1>
        <form action="/login" method="post">
            Email:<input name="username" type="email"><br><br>
            Senha: <input name="password" type="password"><br><br>
            <button type="submit">Entrar</button>
        </form>
        <br>Não possui uma conta? <a href="/usuario/cadastrar">Cadastrar-se</a>
    </div>
    </center>
</body>
</html>