<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:href="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Editar Usuario</title>
</head>
<body>
  <center>
  <!-- atualização cadastro realizado -->
  <p th:if="${param.dadosAtualizados}" style="color:green;">
    Dados atualizados com sucesso!
  </p>
  <a href="../home">Voltar</a>
  <br><br>
  <h1>Cadastro do Usuario</h1>
  <form th:action="@{/usuario/salvar}" th:object="${usuario}" method="post">
    Nome: <input type="text" name="titulo" th:field="*{nome}">
    | Sobrenome: <input type="text" required th:field="*{sobrenome}" name="sobrenome" id="sobrenome"><br><br>
    Senha: <input placeholder="••••••••••••" type="password" th:field="*{password}" name="password" id="password"><br><br>
    Email: <input readonly type="email" th:field="*{email}" name="email" id="email"><br><br>
    Data de nascimento: <input readonly type="date" th:value="*{dataNascimento}" name="dataNascimento" id="dataNascimento"><br><br> <!-- todo tratar data -->
    Sexo: <select disabled th:field="*{sexo}" name="sexo" id="sexo">
    <option value="masc">Masculino</option>
    <option value="fem">Feminino</option>
    <option value="na">Prefiro não dizer</option>
  </select><br><br>
    Altura: <input type="number" th:field="*{altura}" name="altura" id="altura"><br><br>
    Peso: <input type="number" th:field="*{peso}" name="peso" id="peso"><br><br>
    <button type="submit">Atualizar dados</button><Br><br>
  </form>
</center>
</body>
</html>